/* #region basics */

*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;

}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #2E2F42;

}

a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
   
}
a,ul{
    text-decoration: none;
    list-style: none;
}

h3 {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
}
p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 320px;
}

.social-link li{
    display: flex;
    column-gap: 72px;
    flex-direction: row; 
    row-gap: 72px;
}
.mobile-menu{
    z-index: 999;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    padding: 72px 24px 40px 16px;
    max-width: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close-button{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 24px;
    margin-right: 24px;
    width: 24px;
    height: 24px;
    border-color: transparent;
    border-radius: 50%;
    background-color: #E7E9FC;
    

}
.mobile-menu-close-button-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

  
}


.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.benefits-icon,.icon-box{
    display: none;
}
/* #endregion basics */




/* #region header */

.navigation{
    display: flex;
    gap: 40px;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;

}
.navigation,.contacts-ul,address{
    display: none;
}
.mobile-menu-address{
    display: flex;
}
.mobile-menu-address .contact-list-items{
    font-style: normal;
}
.info-about-team p{
    margin-bottom: 8px;
}
.header-menu {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    position: fixed;
    z-index: 999;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    justify-content: flex-end;


}


.burger-button{
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    border: none;
    background-color: transparent;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    margin-right: 16px;

}

.burger-button-svg{
    position: absolute;
    fill: #2E2F37;
}
.mobile-menu-list{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-links{
    display: flex;
    margin-bottom: auto;
}
.contact-list-link{
    color: #434455;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}
.social-link-menu {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.contans-us-list{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.contans-us-menu-div{
    margin-bottom: 48px;
}

.menu-social-link-list{
    display: flex;
    column-gap: 40px;
}
.menu-social-link-items{
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;

}
.menu-social-link-icon{
    fill: #F4F4FD;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.web-studio-logo{
    margin-right: 149px;


}
.benefits{
   padding-top: 96px;
   padding-bottom: 96px;

}
.benefits-list-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 72px;

}

.benefits-items h3{
    text-align: center;
    margin-bottom: 8px;
}
@media screen and (min-width: 768px){
    .benefits-items h3{
        text-align: left;
    }
    .header-content-wrapper{
        display: flex;
        align-items: center;
    }


    .benefits-list-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .benefits-li{
        width: calc((100% - 24px) / 2);
    }
    .benefits{
    padding-top: 96px;
    padding-bottom: 96px;
    }
    .container{
        max-width: 584px;
    }
    .navigation,.contacts-ul,address{
    display: flex;
    }
    .contacts-ul{
        flex-direction: column;
        row-gap: 12px;
        justify-content: flex-end;
    }
    address{
        font-style: normal
    }
    .navigation{
        margin-right: 121px;
    }
    .header-menu {
        border-bottom: 1px solid #E7E9FC;
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
        background-color: #FFFFFF;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 0;
        padding-top: 0;
    }
    .main-navigation{
        margin: 0;
        display: flex;
        align-items: center;
        margin-left: 16px;
        justify-content: flex-start;    
    }
    .web-studio-logo{
        margin-right: 120px;
    }
    .nav-active-link{
    position: relative;
    }
    .nav-active-link::after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-color: #404BBF;
    border-radius: 2px;
    position: absolute;
    bottom: -141%;


    }
    .main-navigation .nav-active-link{
    color: #404bbf
    }
    .portfolio-link,.studio-link,.contacts-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    }
    .phone,.email{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #434455;
    }   
}
@media screen and (min-width: 1158px){
    .main-navigation{
        margin: 0;
    }
    .header-content-wrapper{
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .portfolio{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .portfolio-ul{
        flex-wrap: wrap;
    }
    .benefits-list-wrapper{
        flex-wrap: nowrap;
        column-gap: 24px;
    }
    .benefits{
    padding-top: 120px;
    padding-bottom: 120px;
}
    .contacts-ul{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    row-gap: 0;
    }
    .header-menu {
        border-bottom: 1px solid #E7E9FC;
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
        background-color: #FFFFFF;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
     .web-studio-logo{
        margin-right: 76px;
    }
    .contacts-link, .portfolio-link, .studio-link, .email, .phone{
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .contacts-link:hover,.portfolio-link:hover,.studio-link:hover,.email:hover, .phone:hover,.contacts-link:focus,.portfolio-link:focus,.studio-link:focus,.email:focus, .phone:focus {
        color: #404BBF;
    }
    .phone, .email{
        font-size: 16px;
    }

}
 

/* #endregion header */
/* #region hero */
.order-service{
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url('./../images/background-image/mobile-hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; 
    width: 100%;
    height: 432px;
    padding-bottom: 72px;
    padding-top: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-resolution: 192dpi) {
    .order-service{
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url('./../images/background-image/mobile-hero@x2.png');
    }
}
@media screen and (min-width: 768px) {
    .order-service{
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url('./../images/background-image/tablet-hero.png');
    }
    
}
          
@media screen and (min-width: 1158px) {
    .order-service{
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url('./../images/background-image/pc-hero.png');
    }   
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .order-service{
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url('./../images/background-image/tablet-hero@x2.png');
    }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .order-service{
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url('./../images/background-image/pc-hero@2x.png');
    }
}
.order-service h1 {
    display: block;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.071428571428571;
    letter-spacing: 0.02em;
    width: 216px;
    text-align: center;
    margin: auto auto;
    margin-bottom: 48px;


} 
.order-button {
    display: block;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    border: none;
    border-radius: 4px;
    text-align: center;
    margin: 0 auto;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
    .benefits-list{
        display: flex;
        flex-direction: column;
    }

@media screen and (min-width: 768px){

    .order-service{     
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url('./../images/background-image/tablet-hero.png');
        max-width: 100%;
        height: 436px;
    }
    .order-service h1 {
        font-size: 56px;
        width: 496px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
    } 

}
@media screen and (min-width: 1158px){

    .order-service{
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url('./../images/background-image/pc-hero.png');
        max-width: 100%;
        height: 600px;
    }
    .order-service h1 {
        font-size: 56px;
        width: 496px;
    } 
    .order-button { 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
    .order-button:hover
{
    background-color: #404BBF;

}
.order-button:focus
{
    background-color: #404BBF;

}
.benefits-icon,.icon-box{
    display: block;
}
.benefits h3 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.benefits p {
    margin-top: 0;
    font-size: 16px;
    width: 264px;
    font-weight: 400;
    
    
    
}
.benefits ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc((100% -(24 * 3)) / 4 );
    gap: 24px;
}
.icon-box{
    margin-bottom: 8px;
    display: flex;
    background-image: linear-gradient(to top, rgba(244, 244, 253, 1), rgba(244, 244, 253, 1));
    border: 1px solid #8E8F99;
    border-radius: 4px;
    height: 112px;
    width: 264px;
}
.benefits-items .icon-box p{
    font-weight: 500;
}
.benefits-icon{
    margin: auto auto;
    
}
.subscribe-input{
    margin-right: 24px;
}
}
/* #endregion hero */
/* #region benefits */

.portfolio-info h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.portfolio-info p{
    font-weight: 400;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
}



/* #endregion benefits */
/* #region logo */
.logo
{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;


}
.logo-web{
    color: #4D5AE5;
    line-height: 1.16;

}
.logo-studio{
    color: #2E2F42;
    line-height: 1.16;
    

}
.footer-logo-studio{
    color: #F4F4FD;
}
/* #endregion logo */
.active {
    color: #404BBF;
}
/* #region modal */
.modal-window-background{
    background: rgba(46, 47, 66,0.4);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;


}
.modal-window{
    background-color: #FCFCFC;
    padding: 24px 16px 24px 16px;
    width: 288px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;

}

.modal-window-form{
    display: flex;
    flex-direction: column;
}
.is-open{
    opacity: 1;
    pointer-events: all;
    visibility: visible;

}
/* #endregion modal */
/* #region team */
.team {
    background-color: #F4F4FD;
    display: flex;
    overflow: hidden;
    padding-top: 96px;
    padding-bottom: 96px;
    

    
}
.team-item{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}
.team li{
    width: 264px;
    border-radius: 0 0 4px 4px;
    background-color: #FFFFFF;

}
.team .overlay .social-link-team{
    justify-content: center;
}
.team ul {
    display: flex;
    align-items: start;
    justify-content: start;
    row-gap: 72px;
    flex-direction: column;

    
}
.team ul li img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: auto;


}
.info-about-team {
    padding: 32px 16px;
    text-align: center;
}

.info-about-team h3{
    margin-bottom: 8px;
}
.team-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}


.team .overlay .social-link-team{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 0;

}
.social-link-icons-team{
    margin-top: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}  
.social-link-icons-team:hover{
    background-color: #404BBF;
}
.social-link-icons-team:focus{
    background-color: #404BBF;
}
.social-link-icons-team{
    display: flex;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    fill: #F4F4FD;

}
.info-about-team h3{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}
.img-overlay{
        width: 288px;
        height: 280px;
    }
@media screen and (min-width: 768px){
    .img-overlay{
    width: 356px;
    height: 300px;
    }
    .team{
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .team .team-ul-list{
        display: flex;
        flex-direction: row;
        gap: 64px 24px;
        flex-wrap: wrap;
        
    }
    .team-item{
        width: calc((100% - 24px) / 2);
    }

}
@media screen and (min-width: 1158px){
    .team{
        padding-bottom: 120px;
        padding-top: 120px;
    }
    .team .team-ul-list{
        flex-wrap: nowrap;
        column-gap: 24px;
    }
    .img-overlay{
    width: 360px;
    height: 300px;
    }



}

/* #endregion team */
/* #region portfolio */
.portfolio-title{
    text-align: center;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.overlay-portfolio{
    display: none;
}

.portfolio-ul{
    display: flex;
    flex-direction: column;
    gap: 48px 0;
}
.portfolio-info{
   
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
}
.portfolio-items{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px){


    .portfolio-ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 48px 24px;

}
    .portfolio-items{
        overflow: hidden;
        width: calc((100% - 24px) / 2);
        



    }

}
@media screen and (min-width: 1158px){
    .portfolio-items{
        box-shadow: none;
    }
    .portfolio-items:hover{
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
    .navigation{
        margin-right: 332px;
    }
    .portfolio-ul{
        row-gap: 0;
        column-gap: 24px;
        row-gap: 48px;

}
    .portfolio-items{
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: calc((100% - 48px) / 3);



    }

    .portfolio-items:hover{
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
    .social-link-icons{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .social-link-icons:hover{
        background-color: #31d0aa;
    }
    .social-link-icons:focus{
        background-color: #31d0aa;
    }
    .subscribe-button{
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .subscribe-button:hover,.subscribe-button:focus{
    background-color: #31D0AA;
    
    }

}
/* #endregion portfolio */
.subscribe{
    display: flex;
    justify-content: center;
}
.logo-link-cont{
    margin-bottom: 72px;
}
.logo-footer{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.footer-desc{

    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #2E2F42;
}
.social-link{
    display: flex;
    column-gap: 16px;
    justify-content: center;
    margin-top: 16px;
    display: flex;
    flex-direction: row-reverse;

}

.social-link-icons{
    display: flex;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    column-gap: 16px;

    

}
.social-link-icons svg{
    fill: #F4F4FD;
}
footer p{
    max-width: 288px;
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.social-media-title,.subscribe-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
}

.subscribe-input{
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    color: #FFFFFF;
    padding-left: 16px;
    padding-right: 10px;
    outline: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    margin-top: 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.subscribe-input::placeholder{
    color: #FFFFFF;
}
.subscribe-button{
    width: 165px;
    height: 140px;
    background-color: #4D5AE5;
    border-radius: 4px;
    border-color: transparent;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-bottom: 8px;
    padding-top: 8px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;




    
       
}
.subscribe-input:focus{
    border-color: #31D0AA;
}
.telegram-icon{
    fill: #FFFFFF;
    margin-left: 16px;
    
}
.subscribe-button-div {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
@media screen and (min-width: 768px) {
    .subscribe {
        justify-content: flex-start;
    }
    .footer-desc{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;

    }
    .footer-logo-desc{
        display: flex;
        flex-direction: column;
    }
    .logo-footer{
        justify-content: flex-start;
    }
    .social-media-title,.subscribe-title{
        text-align: left;
    }
    .logo-link-cont{
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 24px;
    }
    .social-link{
    justify-content: flex-end;
    }
    .subscribe-div{
        display: flex;
        flex-direction: column;
    }
    .subscribe-form{
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    align-items: flex-end;
    }
    .subscribe-button-div{
        margin-top: 20px;

    }
}
@media screen and (min-width: 1158px) {
    .subscribe-div{
        margin-right: 24px;
    }
    .logo-subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    width: 265px;
    }
    .logo-link-cont{
        margin-bottom: 0;
    }
    .container{
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1158px;
    }
    .subscribe{
        margin-right: auto;
    }
    .footer-desc{
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

    }
    .subscribe-form{
        column-gap: 0;
    }
    .social-link-div{
        margin-bottom: 72px;
        margin-left: 120px;
        margin-right: 80px;
    }
    .logo-link-cont{
        column-gap: 0;
        column-gap: 0;
        row-gap: 0;
    }
    .footer-logo-desc{
        margin-bottom: 0;
    }
    .overlay-portfolio{
    display: block;
    background-color: #4D5AE5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

    .overlay-portfolio p{
    color: #F4F4FD;
}
.portfolio-items:hover .overlay-portfolio {
    transform: translateY(0%);
} 
.img-overlay{
    overflow: hidden;
    position: relative;
}  
.overlay-portfolio{
    padding: 40px 32px 164px 32px;
}
.footer-content-div{
    justify-content: center;
    display: flex;
    align-items: center;
}

}
.custom-checkbox {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
    align-items: center;
    fill: none;
    margin-right: 8px;
    
}
.custom-checkbox-mark{
    fill: transparent;
    
}
.input-checkbox:checked + .privacy-policy-label .custom-checkbox {
    background-color: #404BBF;




}
.input-checkbox:checked + .privacy-policy-label .custom-checkbox-mark{
    fill: #F4F4FD;
}
.submit-button-div{
    display: flex;
    align-items: center;
    justify-content: center;

}
.form-submit-button{
    width: 169px;
    height: 56px;
    text-align: center;
    border-radius: 4px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-color: transparent;
    outline: none;





}




.privacy-policy-link{
    color: #4D5AE5;
    text-decoration: underline;
    line-height: 1.33333;
    text-decoration-skip-ink: none;
    font-size: 12px;



    
}

.privacy-policy-label{
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 24px;



}

.privacy-policy-div {
    display: inline-flex;
    align-items: baseline;




}
.form-label{
    margin-bottom: 4px;
}
.user-phone-label,.user-email-label,.user-comment-label{
    margin-top: 8px;
}
.user-name-label,.user-phone-label,.user-email-label,.user-comment-label{
    color: #8E8F99;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
}
.user-comment::placeholder{
    font-weight: 400;
    font-size: 12px;
    color: rgba(46, 47, 66, 0.4);

}

.input-text {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66,0.4);
    border-radius: 4px;
    padding-left: 38px;
    padding-right: 16px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);



}

.user-comment {
    width: 100%;
    resize: none;
    height: 120px;
    overflow-y: auto;
    border: 1px solid rgba(46, 47, 66,0.4);
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 8px;
    outline: none;
    margin-bottom: 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-text:focus ~ .form-icons {
    fill: #4D5AE5;
}
.input-text:focus {
    outline: none;
    border-color: #4D5AE5;
}
.user-comment:focus {
    border-color: #4D5AE5;
}
.field-wrapper-inner{
    position: relative;
}
.form-icons {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;


}


.modal-window-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 16px;

}

.modal-window-close-button{
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border-radius: 100%;
    background-color: rgba(231, 233, 252, 1);
    position: relative;

    
    

    

}
.close-modal-form{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 24px;
    margin-right: 24px;
    width: 24px;
    height: 24px;
    

}
.close-button-svg {

    fill: #2E2F42;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

  
}
@media screen and (min-width: 768px) {
    .footer-content-div{
        width: 584px;
        margin-left: auto;
        margin-right: auto;
    }
    .modal-window{
        padding: 24px;
    }
    .modal-window-title{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
    .privacy-policy-label{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    }
    .privacy-policy-link{
    font-size: 12px;
    line-height: 1.33333;
    text-decoration: underline;
    }
    .burger-menu-div{
        display: none;
    }
    .burger-button{
        display: none;
    }
    
}
 
